:root {
    --color-primary: rgb(27, 169, 76);
    --color-primary-dark: #068932;
}


* {margin: 0;}

body {
    background-color: whitesmoke;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    letter-spacing: 1px;
}

.nav_container {
    background-color: whitesmoke;
    width: 100%;
    height: 10vh;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0, 0.05);
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav h2 {
    text-shadow: 0 0 15px rgba(94,94,94,0.3);
    font-size: xx-large;
    letter-spacing: 1.3px;
    font-family: monospace;
}

.main_container {
    /*background-color: red;*/
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.body_container {
    /*background-color: green;
    */height: fit-content;
    width: 60%;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.04);
    margin-top: 5%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    align-items: center;
    text-align: center;
}

.form_container {
    height: 7em;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form_container input {
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 10px;
    font-family: monospace;
    font-weight: bold;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 85%;
    align-items: center;
    max-width: 50%;
}

.form_container form {
    margin-top: 6%;
    width: 100%;
    margin-bottom: 6%;
}

.submit-btn {
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    font-family: monospace;
    font-weight: bold;
    background: rgb(27, 169, 76);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
}

.form_container button:hover {
    cursor: pointer;
    box-shadow: 0 0 30px 2px rgba(27, 169, 76, 0.4);
}

.video_details {
    align-items: center;
    text-align: center;
    font-family: monospace;
    font-size: 17.9px;
    padding: 20px;
    font-weight: bolder;
}

.video_thumbnail {
    margin-top: 2%;
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.04);
}

@media only screen and (max-width: 790px) {
    .body_container {
        width: 70%;
    }
}

@media only screen and (max-width: 570px) {
    .body_container {
        width: 80%;
    }
}


.cards_container {
    /*background-color: orange;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video_cards header,.audio_cards header {
    text-align: start;
    font-size: x-large;
    padding-left: 25px;
    color: var(--color-primary-dark);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 18px 10px;
    background-color: white;
    margin-top: 10%;
    border: 1px solid rgb(27 169 76);
    font-size: larger;
    width: 90%;
    font-family: monospace;
    font-weight: bolder;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px 2px rgb(27 169 76 / 50%);
    background-color: rgb(27 169 76);
    color: white;
}

.cards {
    display: inline-block;
    padding: 10px;
    width: 15%;
}