*, html {
    margin: 0;
    padding: 0;
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Barlow', sans-serif;
}

*, html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    letter-spacing: 1px;
}

header {
    padding: 2rem;
}

.bg-cont {
    background-image: linear-gradient(rgba(0,0,0), transparent),url('https://images.unsplash.com/photo-1611162616475-46b635cb6868?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=alexander-shatov-niUkImZcSP8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-cont {
    min-height: 100%;
}

.bg-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.shadow {
    background: linear-gradient(359deg, rgba(0,0,0,0.4), rgba(0,0,0,0.1));
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
    align-items: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    width: 100%;
}

.search-bar-container {
    background: #ffffff52;
    width: 600px;
    margin: auto;
    border-radius: 50px;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    max-width: 100%;
}

.search-bar {
    width: 100%;
}

.search-container {
    width: 100%;
    width: 100%;
    padding: 3rem;
}

input {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: transparent;
    outline: noe;
    outline: none;
    color: white;
    letter-spacing: 2px;
    margin-right: 10px;
}

input::placeholder {
    color: white;
}

span#searchMovie {
    color: white;
    width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 50%;
    margin-right: -21px;
    cursor: pointer;
    margin-left: 3px;
    border: 2px solid white
}

span#searchMovie:hover {
    background-color: white;
    color: black;
}

span#searchMovie i {
    margin-left: 4px;
}

.content {
    width: 100%;
    height: 100%;
    display: none;
}


.video-content-container {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.poster {
    width: 500px;
    height: 100%;
    max-width: 95%;
    width: 500px;
}
}

.poster img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}

.poster img:hover {
    opacity: 0.78;
    cursor: pointer;
}

.download-options {
    height: 100%;
    width: 100%;
}

.download-options-container {
    width: 97%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.download-options-container span {
    cursor: pointer;
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 22px;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 17px;
    box-shadow: 2px 4px 20px 0px rgba(255, 255, 255, 0.3);
    flex-direction: column;
    transform: 0.5s;
}

.download-options-container span:hover {
    transform: scale(1.05);
    transition:  0.5s;
}

.download-options-container span a {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    display: fel;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.error {
    display: none;
    width: 100%;
    padding: 2rem;
}

.error-container {
    background: darkred;
    width: 500px;
    border-radius: 35px;
    margin: auto;
    padding: 16px;
    font-weight: bolder;
    font-size: 16px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
    max-width: 65%;
}

p#video-duration {
    background: #dc3545;
    position: absolute;
    /* right: 19rem; */
    top: 35rem;
    border-radius: 10px;
    padding: 0.2rem;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    width: fit-content;
    float: right;
    color: white;
    margin-left: 1.5rem;
}

.footer {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bolder;
    position: absolute;
    width: 100%;
    padding: 0.2rem;
    font-size: 16px;
}

span p#volume-icon, span #volume-icon-mute {
    padding: 0.2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    margin: 6px;
    text-shadow: 1px 0px 5px rgba(0,0,0,0.3);
    box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.5);
}
span p#volume-icon {
    background: #00a7009c;
} 

span #volume-icon-mute {
    background: #b31f28;
}

.tab-btn {
    outline: none;
    padding: 10px 18px;
    border-radius: 13px;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid white;
    background: transparent;
    color: white;
}

.tab-btn:hover {
    background: white;
    color: black;
}

.tab_box {
    padding: 0.31rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 2rem;
}

.tab-container {
    padding: 1rem;
}

.tab {
    width: 100%;
    height: 100%;
}

.btn-active {
    background: white;
    color: black;
}


.audio-download-container {
    display: none;
}

.video-download-container {
    display: block;
}

.loader {
    background: rgba(250,250,250,0.5);
    position: fixed;
    display: none;
    z-index: 1;
}

.loader-container {
    background-image: url('../images/loader.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.loader-container {
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

@media only screen and (max-width: 433px) {  
 .poster img {
    width: 100%;
    height: 100%;
 }
 p#video-duration {
    top:31rem
 }
}